<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<h3>Name : {{selectedEmpDetail.selectedName}} </h3>
<h3>City : {{selectedEmpDetail.selectedCity}}</h3>
<h3>Salary : {{selectedEmpDetail.selectedSal}}</h3>
<ul>
  <app-data-cpl [name]="emp.name" [city]="emp.city" [salary]="emp.salary" (sendRecord)="getRecord($event)" *ngFor="let emp of empData"></app-data-cpl>
</ul>